
/Op2_combined_risk
/Op2_simulation_images
/Op2_spillover_fixed_range
/Op4_images
/simulation_images
Backup.ipynb
animation_video.mp4
server_user_id.txt
simulation_results.csv
West Nile virus human and non-human activity by county for year selected above_.csv
West Nile virus human disease cases reported by month of illness onset from year(s) and type of case selected above (1).csv
West Nile virus human disease cases reported by month of illness onset from year(s) and type of case selected above.csv
Backup.ipynb
/eBirdData
/amerob
/Visualization
